* {
	box-sizing: border-box;
}
body {
	font-family: 'Quattrocento Sans', sans-serif;
}

a {
	cursor: pointer;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/*************MENU************/
.menu a {
	display: block;
	text-decoration: none;
	color: #ad9c9b;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding: 0 10px;
	/*margin-right: 15px;*/
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #1d2126;
	
}
.menu a:hover {
	background-color: white;
	border-radius: 1px;
	color: #23b7a4;
}
.menu a:active {
	color: #8e9093;
}
.search {
	width: 195px;
	height: 26px;
	display: flex;
	background-color: #8e9093;
	
	/*margin-left: 98px;*/
}
.search input[type="search"] {
	border: none;
	outline: none;
	-webkit-appearance: none;
	background-color: #8e9093;
	width: 148px;
	height: 26px;
	padding: 0;
}
.search input[type="search"]:focus {
	border: none;
	outline: none;
	-webkit-appearance: none;
}
.search input[type="search"]::placeholder {
	color: #a4aead;
	padding-left: 8px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}
.img-search {
	width: 26px;
	height: 26px;
	background-color: #8e9093;
	background-image: url(images/search_img.png);
	background-repeat: no-repeat;
	background-size: 190%;
	background-position: -8px -11px; 
}

.slider {
	height: 660px;
	background-image: url(images/slider_background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header {
	background-color: #1d2126;
	height: 80px;
	padding-top: 27px;
	position: sticky;
	top: 0;
	z-index: 1100;
	width: 100%;
	/*visibility: hidden;*/
}

/*.header_row {
	flex-direction: column;
	align-items: center;
}*/

/*.menu_row {
	display: flex;
	align-items: center;
	
}*/



/*************MENU************/




.block {
	padding: 80px 0;
	width: 100%;
}

.block_title {
	display: block;
	height: 36px; 
	margin-bottom: 80px;
	line-height: 38px;
	border-left: 10px solid #e1e6ea;
	padding-left: 15px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 400;
}

/*******************we are block************/

.we_are {
	border-bottom: 1px solid #a4aead;
	width: 100%;
}
.col-md-7 p {
	font-size: 16px;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	color: #8d8f92;
	margin-bottom: 35px;
	line-height: 26px;
	}

.social_icons_container {
	display: flex;
	height: 60px;
}
.social_icons {
	width: 60px;
	height: 60px;
	border-right: 1px solid white;
	background-color: #c8cdd0;
}
.social_icons a {
	display: block;
	width: 60px;
	height: 60px;
}
.social_icons img {
	margin-top: 6px;
	margin-left: 6px;
}

.block_goals {
	display: flex;
	margin-bottom: 35px;
}
.goal_number {
	min-width: 50px;
	height: 50px;
	background-color: #23b7a4;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.block_goals  h3 {
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Quattrocento Sans', sans-serif;
	padding-left: 20px;
}

.block_goals  p {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding-left: 20px;
}

/*************team_block*************/

.member_photo img {
	height: 100%;
	width: 100%;
	margin-bottom: -3px;
}
.member_photo {
	width: 100%;
	background-color: #d4dade;
	position: relative;
}

.member_info {
	width: 100%;
	height: 75px;
	background-color: #e1e6ea;
}
.member_info h3 {
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-top: 9px;
}
.member_info p {
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	padding-left: 20px;
}

.social_overlay_container {
	width: 152px;
	height: 50px;
	display: flex;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	visibility: hidden;
}
.social_overlay {
	margin-right: 1px;
	background-color: #4e5a62;
}

.col-md-3:hover .member_info  {
	background-color: #3a454d;
	color: #ffffff;
}
.col-md-3:hover .member_info h3 {
	
	color: #ffffff;
}
.col-md-3:hover .member_info p {
	
	color: #ffffff;
}
.col-md-3:hover .social_overlay_container  {
	visibility: visible;
}
.col-md-3:hover .member_photo img  {
	opacity: 50%;
}


.dark_background {
	width: 100%;
	background-color: #3a454d;
	color: white;
}
.dark_background .block_title {
	border-left: 10px solid #4e5a62;
	  }
	  

/************LOVELY WORK**************/
.col-md-4 {
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 30px;
}
.lovely_work {
	position: relative;
}
.show_more {
	width: 150px;
	height: 45px;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	background-color: #3a454d; 
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	margin: 30px auto;
	font-size: 14px;
}
.cross_overlay {
	position: absolute;
	width: 100%;
	height: 69%;
	top: 0;
	left: 0;
	background-color: #3a454d;
	opacity:50%;
}
.cross_overlay img {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
	.cross_overlay a {
	display: block;
	width: 100%;
	height: 100%;
	}

.text_overlay {
	width: 100%;
	height: 20%;	
	position: absolute;
	bottom: 33px;
	background-color: #292f36;
    
}
.text_overlay h3 {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding: 20px 0; 
	padding-left: 20px;
}
.overlay_container {
	visibility: hidden;
}
.lovely_work:hover .overlay_container {
	visibility: visible;
}


/*********What we do******/

.what_we_do_blocks {
	height: 260px;
}
.what_we_do_blocks h3 {
	font-size: 17px;
	font-weight: 700;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0; 
}
.what_we_do_blocks p {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 30px;
	color: #a4a5a8;
}
.what_we_do_blocks img {
	display: block;
	margin: 0 auto;
	padding: 20px 0;
}
/*********What we do******/

/*********Features*********/


.features_block p {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 30px;
	color: #a4a5a8;
}
.features_block h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}
.features_block img {
	width: 100%
}
.map img {
	width: 100%;
}

.col-md-6  {
	width: 50%;
	/*height: 100%;*/
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-6 h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 15px;
}

.col-md-6 p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 15px 0;
	color: #a4a5a8;
}
.col-md-6 span {
	font-weight: 700;
}

footer {
	padding: 0 !important;
	line-height: 95px;
	font-size: 14px;
}
footer .flex {
	align-items: center;
	justify-content: space-between;
}
.footer {
	margin-left: 15px;
	margin-right: 15px;

}
.social_icons_footer_container {
	display: flex;
	}
.social_icons_footer {
	width: 25px;
	height: 25px;
}
.social_icons_footer a {
	display: block;
	width: 25px;
	height: 25px;
}
.social_icons_footer img {
	display: block;
	width: 100%;
	height: 100%;
}
